<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- sensitive通知类 -->
    <bean id="CheckInputParameterAspect" class="com.ihltx.utility.sensitive.aop.CheckInputParameterAspect" />

    <aop:config>
        <aop:aspect ref="CheckInputParameterAspect">
            <aop:pointcut id="pointcut" expression="execution(public * com.ihltx.store.*..*Controller.*(..))"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>